<button mat-raised-button (click)="stop()">Stop</button>

<h4>Schedulers</h4>

<button mat-raised-button (click)="startNoScheduler()">Timing without scheduler</button>
<button mat-raised-button (click)="startAsyncScheduler()">Timing with asyncScheduler</button>
<button mat-raised-button (click)="startMicrotaskVsPromise()">Microtask vs. Promise</button>
<button mat-raised-button (click)="startSchedulerComparison()">Scheduler comparison</button>

<h4>Cold Warm Hot</h4>

<button mat-raised-button (click)="startColdObservable()">Cold</button>
<button mat-raised-button (click)="startHotObservable()">Hot</button>
<button mat-raised-button (click)="startConvertHot1Observable()">Convert hot (1)</button>
<button mat-raised-button (click)="startConvertHot2Observable()">Convert hot (2)</button>
<button mat-raised-button (click)="startConvertColdObservable()">Convert cold</button>
<button mat-raised-button (click)="startWarmObservable()">Warm</button>

<h4>Combining & Higher Order</h4>

<button mat-raised-button (click)="startCombinedCreation()">Combination (creation)</button>
<button mat-raised-button (click)="startCombinedHigherOrder()">Combination (higher order)</button>
